# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BALLCOIN Core Daemon SNAP
Comment=testnet
GenericName=BALLCOIN Digital Currency Daemon Client testnet network
Exec=ballcoin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ballcoin_testnet.png
MimeType=x-scheme-handler/ball;
Categories=X-Office;X-Finance;
Keywords=internet;ballcoin;zball;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[de_DE]=ballcoind_testnet.desktop
