# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BALLCOIN Core
Comment=BALLCOIN Core QT test network
GenericName=BALLCOIN Digital Currency QT client testnet network
Exec=ballcoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ballcoin_testnet.png
MimeType=x-scheme-handler/ball;
Categories=X-Office;X-Finance;
Keywords=internet;ballcoin;zball;tball;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[de_DE]=ballcoin-qt_testnet.desktop
